<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Alunos</title>
		<link rel="icon" href="images/favicon.ico">   
        <link rel="stylesheet" href="style/main.css">  
	</head>
	<body>
		<header class="flex space-between">
			<section class="margin">
				<object data="images/impacta.svg" type=""></object>
			</section>
			<nav class="menu">
				<ul class="flex">
					<li><a href="index.html">HOME</a></li>
					<li><a href="atividades.html">ATIVIDADES</a></li>
					<li><a href="disciplina.html">DISCIPLINA</a></li>
					<li><a href="aluno.html">ALUNO</a></li>
					<li><a href="login.html">LOGIN</a></li>
				</ul>
			</nav>
		</header>
		<main class="text-center">
			<h1>Alunos</h1>
			<form> 
				<input class="padrao" placeholder="Nome" type="text" ra="Nome" id="Nome"><br><br>
				<input class="padrao" placeholder="Email" type="text" ra="e-mail" id="Email"><br><br>
				<input class="blue-buttom padrao" type="submit" name="" id="">
			</form>			
		</main>
	</body>
</html>


