<!DOCTYPE html>
<html lang="pt-br">
    <head>
            <meta charset="UTF-8">
            <title>Home</title>
            <link rel="icon" href="images/favicon.ico">   
            <link rel="stylesheet" href="style/main.css">                   
    </head>
    <body>
        <header class="flex space-between">
            <section class="margin">
                <object data="images/impacta.svg" type=""></object>
            </section>
            <nav class="menu">
                <ul class="flex">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="atividades.html">ATIVIDADES</a></li>
                    <li><a href="disciplina.html">DISCIPLINA</a></li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                </ul>
            </nav>
        </header>
        <main class="flex"> 
            <aside class="um-terco padding">
                <h1>Testimonials </h1>
                <p>Osama Bin Laden:</p>
                <p>
                    <q>Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores não altera o pão duris. Per aumento de cachacis, eu reclamis.</q>
                </p>
                <p>Sadan Houssein:</p>
                <p>
                    <q>Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores não altera o pão duris. Per aumento de cachacis, eu reclamis.</q>
                </p>
                <p>Kadhafi:</p>
                <p>
                    <q>Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores não altera o pão duris. Per aumento de cachacis, eu reclamis.</q>
                </p>
            </aside>
            
            <section class="dois-tercos padding">
                <h1>News</h1>
                <p>
                    Alemão apaga cigarro da namorada com extintor de incêndio
                    <a href="https://glo.bo/2v1EPXh">Ver mais...</a>
                </p>
                <p>
                    Homem morre após uma vaca cair sobre ele em Caratinga, Minas Gerais
                    <a href="https://glo.bo/2GOvhUW">Ver mais... </a>
                </p>    
                <div class="individual">
                    <div class="">
                        <h4>Anão vestido de palhaço mata oito<h4>
                        <img src="http://pm1.narvii.com/6199/c1459d9258cb62d83b7c3bd16fefc7a4bc7307a5_00.jpg">     
                    </div>
                    <div>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Leite de capivaris...<a href="https://bit.ly/2ql5s4n">Ver mais... </a></p>
                    </div>
                </div>
            </section>

            <section class="center">
                <h1 class="text-center">Awards</h1>
                <div class="flex">
                    <div class="um-terco padding">
                        <h5>Premio professional de Telemarketing </h5>
                        <img class="trofeu" src="images/trofeu1.png">
                    </div>
                    <div class="um-terco padding">
                        <h5>Premio professional de Yu-Gi-Oh </h5>
                        <img class="trofeu" src="images/trofeu2.png">
                    </div>
                    <div class="um-terco padding">
                        <h5>Motoboy award of year </h5>
                        <img class="trofeu" src="images/trofeu3.png">
                    </div>
                </div>
            </section>    
        </main>
    </body>
</html>